* {
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: monospace;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 6px 10px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  th {
    background-color: #333;
    color: white;
  }

  .remove, 
  .isReadTrue,
  .isReadFalse {
    text-align: center;
  }

  button {
    border: 1px solid #cccccc99;
  }

  button:hover {
    background-color: rgb(255, 251, 184);
  }

  .isReadFalse button {
    color: transparent;
  }

  #addBookBtn {
    margin-bottom: 6px;
  }

  form {
    font-size: 12px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  form>div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form input[type="text"],
  form input[type="password"],
  form input[type="email"],
  form input[type="number"],
  form select,
  form textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
  }
  
  form input[type="checkbox"],
  form input[type="radio"] {
    margin-right: 5px;
  }

  .form-buttons {
    gap: 10px;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.30);
  }
  